.aboutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .aboutHeading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .aboutContent {
    text-align: justify;
  }
  
  .aboutText {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
  }
  